<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="buaahz_car_urdf_mid360">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.181508050643894 -0.000380687384166356 0.222342802457855"
        rpy="0 0 0" />
      <mass
        value="13.4432975076648" />
      <inertia
        ixx="0.281648586283361"
        ixy="0.000125887129113238"
        ixz="0.00137500825003624"
        iyy="0.275100723244147"
        iyz="-1.92579408042463E-05"
        izz="0.18796558298456" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <!-- <link name="gps_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.01" ixy="0.0" ixz="0.0"
               iyy="0.01" iyz="0.0"
               izz="0.01"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.2" radius="0.1"/>
      </geometry>
      <material name="red">
        <color rgba="0.8 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.2" radius="0.1"/>
      </geometry>
    </collision>
  </link>


  <joint name="base_to_gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <origin xyz="0 0.12 1.28" rpy="0 0 0"/>
    <limit effort="1000.0" velocity="1000.0"/>
    <joint_properties damping="0.0" friction="0.0"/>
  </joint> -->
  <link
    name="left_wheel_Link">
    <inertial>
      <origin
        xyz="5.65098763338767E-08 -0.000107541598391603 3.10675519172611E-07"
        rpy="0 0 0" />
      <mass
        value="0.913957958882337" />
      <inertia
        ixx="0.00156554399137761"
        ixy="-7.84052736789388E-10"
        ixz="2.68393645781587E-09"
        iyy="0.00295301334108984"
        iyz="-2.214253641522E-09"
        izz="0.00156556205111389" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/left_wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/left_wheel_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="5E-05 0.2146 -0.002"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_wheel_Link" />
    <axis
      xyz="0.00023299 1 0" />
  </joint>
  <link
    name="right_wheel_Link">
    <inertial>
      <origin
        xyz="-5.6509876444899E-08 0.000107541598391651 3.10675519180851E-07"
        rpy="0 0 0" />
      <mass
        value="0.913957958882337" />
      <inertia
        ixx="0.00156554399137761"
        ixy="-7.84052736813292E-10"
        ixz="-2.68393645810739E-09"
        iyy="0.00295301334108984"
        iyz="2.21425364140261E-09"
        izz="0.00156556205111389" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/right_wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/right_wheel_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="-5E-05 -0.2146 -0.002"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_wheel_Link" />
    <axis
      xyz="0.00023299 1 0" />
  </joint>
  <link
    name="lf_Link">
    <inertial>
      <origin
        xyz="0.00478439486534085 -0.000194940503855323 -0.0200897415759267"
        rpy="0 0 0" />
      <mass
        value="0.0764331852561443" />
      <inertia
        ixx="6.38707770236009E-05"
        ixy="2.87122519156648E-07"
        ixz="1.04097740579094E-05"
        iyy="5.80010180912249E-05"
        iyz="-5.27406370320011E-07"
        izz="5.40103969527263E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/lf_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.756862745098039 0.768627450980392 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/lf_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_joint"
    type="continuous">
    <origin
      xyz="0.3818 0.17675 0.0052475"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lf_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="lf_wheel_Link">
    <inertial>
      <origin
        xyz="-2.38627238802191E-07 -1.45803757956031E-10 -5.82427378548189E-08"
        rpy="0 0 0" />
      <mass
        value="0.150467637750351" />
      <inertia
        ixx="7.04259874807444E-05"
        ixy="2.55314558577735E-13"
        ixz="-6.75188730056903E-12"
        iyy="0.000108333870406122"
        iyz="2.62322526670308E-10"
        izz="7.04301499801696E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/lf_wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.756862745098039 0.768627450980392 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/lf_wheel_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_wheel_joint"
    type="continuous">
    <origin
      xyz="0.024001 0 -0.055747"
      rpy="0 0 0" />
    <parent
      link="lf_Link" />
    <child
      link="lf_wheel_Link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="rf_Link">
    <inertial>
      <origin
        xyz="-0.00478453891488401 -0.352805976638596 -0.0200897415759267"
        rpy="0 0 0" />
      <mass
        value="0.0764331852561442" />
      <inertia
        ixx="6.38707770236007E-05"
        ixy="2.8712251915662E-07"
        ixz="-1.04097740579094E-05"
        iyy="5.80010180912247E-05"
        iyz="5.27406370320083E-07"
        izz="5.40103969527261E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/rf_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.756862745098039 0.768627450980392 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/rf_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_joint"
    type="continuous">
    <origin
      xyz="0.3818 0.17675 0.0052475"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rf_Link" />
    <axis
      xyz="0 0 -1" />
  </joint>
  <link
    name="rf_wheel_Link">
    <inertial>
      <origin
        xyz="2.38627238857703E-07 1.45803898468633E-10 -5.82427378409411E-08"
        rpy="0 0 0" />
      <mass
        value="0.150467637750353" />
      <inertia
        ixx="7.04259874807456E-05"
        ixy="2.55314513031879E-13"
        ixz="6.75188738021184E-12"
        iyy="0.000108333870406124"
        iyz="-2.62322526655321E-10"
        izz="7.04301499801709E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/rf_wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.756862745098039 0.768627450980392 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/rf_wheel_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.024001 -0.353 -0.055747"
      rpy="0 0 0" />
    <parent
      link="rf_Link" />
    <child
      link="rf_wheel_Link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="-0.000199554718867387 -6.3832944043607E-06 -0.0174673989151422"
        rpy="0 0 0" />
      <mass
        value="0.141887205117604" />
      <inertia
        ixx="4.17976354626594E-05"
        ixy="-5.62320032199946E-09"
        ixz="3.05339171316834E-07"
        iyy="4.50772362205136E-05"
        iyz="-4.50405416415078E-10"
        izz="6.87996358400666E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0.2528 -0.0001 1.3221"
      rpy="3.1416 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="gyro_link">
    <inertial>
      <origin
        xyz="-0.000461131492249564 1.4976717060966E-08 0.000357931402369102"
        rpy="0 0 0" />
      <mass
        value="0.0548244190262661" />
      <inertia
        ixx="1.0090549858139E-05"
        ixy="7.81875144525911E-12"
        ixz="8.08032197163182E-09"
        iyy="1.47422266994547E-05"
        iyz="1.26941468205663E-12"
        izz="2.14471397750013E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/gyro_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://buaahz_car_urdf_mid360/meshes/gyro_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gyro_joint"
    type="fixed">
    <origin
      xyz="0.3895 0 0.1035"
      rpy="-3.1416 0 0" />
    <parent
      link="base_link" />
    <child
      link="gyro_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>

<!-- 2.3561925 0.3 0.068 -2.29-->